
/* Global Styles */

body {
  background-image: url("images/concrete-texture.png");
  font-family: 'Helvetica', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Georgia', Times, Times New Roman, serif;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
}

p {
  line-height: 2;
  font-weight: 400;
}

a {
  color: #777;
  text-decoration: none;
}

a:hover {
  color: #555;
}

hr {
  border: 1px solid #ccc;
  margin: 18px 0 30px;
}

/* Header */

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 960px;
  height: 60px;
  margin: 0 auto;
}

header {
  border-bottom: 2px solid #ccc;
  background-color: #fff;
}

.header-title {
  background-color: #4aaaa5;
  color: #fff;
  padding: 18px 10px;
}

/* Navigation */

.navigation {
  display: flex;
  flex-direction: row;
}

ul.navigation {
  list-style-type: none;
}

.navigation li {
  padding: 10px;
}

.pipe {
  color: #ccc;
}

/* Main Content */

.main-content {
  display: flex;
  flex-direction: row;
  width: 960px;
  margin: 60px auto;
  justify-content: space-between;
}

article {
  background-color: #fff;
  width: 650px;
  padding: 20px 30px;
  border: 1px solid #ddd;
  color: #777;
}

article > h1, aside > h1 {
  color: #4aaaa5;
  line-height: 2;
}

.main-image {
  width: 200px;
  float: left;
  margin-right: 10px;
}

/* Sidebar */

aside {
  width: 270px;
  background: #fff;
  padding: 20px 30px;
  border: 1px solid #ddd;
  margin-left: 30px;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-links > a > img {
  width: 64px;
  height: 64px;
}

.content {
  min-height: calc(100vh - 125px);
}

footer {
  background-color: #666;
  color: #fff;
  width: 100%;
  height: 60px;
  border-top: 5px solid #4aaaa5;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Portfolio */

.portfolio-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  background-color: #ccc;
  width: 47%;
  margin-bottom: 30px;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.item > a {
  width: 100%;
}

.item-label {
  background-color: rgba(74,170,165,0.6);
  transition: background-color 0.5s ease;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 10px;
}

.item-label:hover {
  background-color: rgba(74,170,165,1);
}

#hangman {
  background-image: url('../images/hang.jpg');
  background-size: cover;
  background-position: center;
}

#rpg {
  background-image: url('../images/rpg.jpg');
  background-size: cover;
  background-position: center;
}

#trivia {
  background-image: url('../images/trivia.jpg');
  background-size: cover;
  background-position: center;
}

#rutgers {
  background-image: url('../images/info.jpg');
  background-size: cover;
  background-position: center;
}

#rock {
  background-image: url('../images/rock.jpg');
  background-size: cover;
  background-position: center;
}

/* Contact */

form {
  width: 100%;
}

.textbox {
  width: 570px;
  height: 24px;
  border: 1px solid #ddd;
}

textarea {
  width: 570px;
  border: 1px solid #ddd;
}

.button {
  background-color: #4aaaa5;
  color: #fff;
  padding: 10px 20px;
  border: none;
  font-size: 14px;
  margin: 20px 0 8px;
}

/* Responsive */

@media only screen and (max-width: 960px) {

  .header-content {
    width: 100%;
  }

  .main-content {
    width: 100%;
    flex-direction: column;
  }

  article {
    width: 100%;
  }

  aside {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }

}
